body {
    margin: 0px;
    padding: 60 0 0 0;
	background-image:url('{{ STATIC_URL }}img/home.png');
	background-repeat:no-repeat;
	background-size:100%;

	
}

/* General Font*/
*{
	font-family:Arial;
/*border: 1px solid black;	*/
}

#map-wrapper{
	width: 100%;
    height: 100%;
    padding: 10px;
}

#map-wrapper > div {
	border:1px solid rgba(150,50,150,0.3);
}


#map{
	width: 80%;
    height: 90%;
    float: left;
}
#map-element-info {
    height: 90%;
}

.map-element-info-title{
	color:rgb(0,100,200);
	margin:0 0 0 0;
	padding:0 0 0 0;
}

.map-element-info-text{
	margin-left:10px;
	padding-left:10px;
	padding-bottom:10px;
}



#map-element-info > h3{
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
	color:rgb(0,200,100);
	font-weight:bold;
}

/* ----------------- top bar / icon bar  --------------------- */

.icon-bar {
	height:80x;
	width: 100%;
	overflow: auto;
    text-align: center;
    background-color: rgba(0,150,255,1);
/*	position:fixed;*/
	margin-top:-60px;
    
}

.icon-bar a {
    width: 10%;
    padding: 12px 0;
    float: left;
    transition: all 0.5s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: rgb(50,50,255);
}

.active {
    background-color: rgb(255,0,0);
}

.icon-bar>a>i>p{
	font-size:18px;
}

/* ----------------------  The side navigation menu  --------------------------*/
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color:rgba(10,150,255,0.9) ; /* ~ #111 = Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(255,255,255);/* ~  #818181;*/
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: yellow; /* ~ #f1f1f1*/
	font-weight:bold;

}

/* Give background color to menu buttons except the close button*/
.mbtn:hover {
	background-color:rgb(0,100,255);
}


/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
    padding: 20px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


/* ========== cemetery_list, burial_list styling ========== */

#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
	table-layout: fixed; /* Using this you can override the browser's automatic column resizing. Then your browser sets the column width of first column to all. */
}

#myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 10px; /* Add padding */
}

#myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#myTable th {
    /* Add a grey background color to the table header and on hover */
    background-color: rgba(200,200,200,1);
}

#myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f2f2;
}

#myTable tr td:last-child{
    white-space:nowrap;
}

.clickable-table-data{
	text-decoration:none;
	color:rgb(0,50,255);
}


/* =============== Home Tab =================*/ 
#homeTable{
	table-layout: fixed;
	margin-left:100px;
}
#homeTable tr {
    /* Add a bottom border to all table rows */
    /*order-bottom: 1px solid #ddd; */
	text-align: center; /* Left-align text */
    padding: 10px; /* Add padding */
	width:20px;
}



#homeTable tr td div{
    padding: 5px; /* Add padding */
}


/* ================   base_cemetery / base_burial  ==================== */
.cards_envelope{
	margin-top:100px;
	float: left;
    position: relative;
    left: 50%;
	top:50%;
}

.card_wrapper{
	float: left;
    position: relative;
    left: -50%;
}

/*
#card-wrapper{
	position:absolute;

	margin:-100px 0 0 -200px;
	top:50%;
	left:50%;
	display:flex;
}
*/

.card{
	text-align:center;
}
.card img {
  display: block;
  max-width:100px;
  max-height:200px;
  width: auto;
  height: auto;
  display:block;
  margin-left:auto;
  margin-right:auto;
}	
.card h2 {
    /* show the text at the bottom of the container */
	vertical-align:bottom;
	font-size:1em;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5);
}

/* Add some padding inside the card container */
.card-container {
    padding: 2px 16px;
	text-align:center;
	font-size:20px;
	color:rgb(20,180,130);
	font-weight:bold;
	max-height:50px;
}

.card-container {
	vertical-align:bottom;
	height:30%
}



/* ================ image slide show home =================*/

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*-------------------------------------
.float-left-area  {
		  width: 15%;
		  float: left;
		  }

.float-right-area {
		  width: 85%;
		  float: left;
		  }

.inner-left	  {
		  padding: 5px 5px 5px 5px;
		  margin-right: 10px;
		  border:  1px solid black;
		  min-height: 60px;
		  }

.inner-right	  {
		  font-size: 20px;
		  padding: 5px 5px 5px 5px;
		  border: #999999 1px solid;
		  min-height: 60px;
		  }

.clear-floated	  { clear: both; height: 1px; font-size: 1px; line-height: 1px; padding: 0; margin: 0; }

*/



/*---------------------------------------------------------------
body {
    margin: 0px;
    padding: 0px;
}
.container { position:relative; padding:0 0 0 50px; margin:0 0 0 0;}

#sidebar {
    position:fixed;
    top:0; bottom:0; left:0;
    width:150px;
	min-height:150px;
    background-color:rgb(50,150,250);
	float:left;
	clear:both;
}

#wrapper{
	background-color:rgba(10,100,100,0.2);
 position:relative; left:100px; padding-left:5px;
}

#header {  margin:0 0 5px 0;}
#content { margin:5px 0 5px 0;}
#footer { margin:5px 0 0 0; 
}
*/