{% extends 'heaven/base.html' %}
  
{% block content %}
	<!-- Edit Burial -->
  <h2 style="color=blue; font-weight:bold; font-size:26px;">New Burial </h2>
    <form method="post" class="burial-form">{% csrf_token %}
	   <table >
			{% for field in form %}
		<tbody>
			<tr>
			  <td>
				<label for="{{ field.label }}" style="color:RGB(0,100,200);display:inline-block;vertical-align:middle">{{ field.label_tag }}</label>
			  </td>
			  <td>
				{{ field }}
				<script> </script>
			  </td>
			</tr>
			{% endfor %}
		</tbody>
	  </table>
		
		
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}
