{% extends "heaven/base.html" %}
{% load static %}
{% load staticfiles %}

{% block content %}
<table id="homeTable">

	<tr id="cemeteryRow">
		<td>{% include "heaven/add_cemetery_card.html" %}</td>
		<td>{% include "heaven/view_cemetery_card.html" %}</td>
		<td>{% include "heaven/edit_cemetery_card.html" %}</td>
		<td>{% include "heaven/delete_cemetery_card.html" %}</td>
	</tr>

	<tr id="burialRow">
		<td>{% include "heaven/add_burial_card.html" %}</td>
		<td>{% include "heaven/view_burial_card.html" %}</td>
		<td>{% include "heaven/edit_burial_card.html" %}</td>
		<td>{% include "heaven/delete_burial_card.html" %}</td>

	</tr>	
	
	<tr id="photoRow">
		<td>{% include "heaven/add_photo_card.html" %}</td>
		<td>{% include "heaven/view_photo_card.html" %}</td>
		<td>{% include "heaven/edit_photo_card.html" %}</td>
		<td>{% include "heaven/delete_photo_card.html" %}</td>
	</tr>
	
</table>

{% endblock content%}

{% block content2 %} {% endblock content2%}

