{% extends "heaven/base.html" %}
{% load static %}
{% load staticfiles %}





{% block content %}
<table id="homeTable">
<!--
			<tr class="header">
				<th style="width:40%;">First Name</th>
				<th style="width:30%;">Birth</th>
				<th style="width:30%;">Death</th>
				<th style="width:30%;">Sex</th>
				<th style="width:30%;">Date Created</th>
			</tr>
			-->
			
	<tr>
		<td>{% include "heaven/add_cemetery.html" %}</td>
		<td>{% include "heaven/add_burial.html" %}</td>
		<td>{% include "heaven/add_photo.html" %}</td>
	</tr>
	
	<tr>
		<td>{% include "heaven/view_cemetery.html" %}</td>
		<td>{% include "heaven/view_burial.html" %}</td>
		<td>{% include "heaven/view_photo.html" %}</td>
	</tr>	
	
</table>

{% endblock content%}



{% block content2 %} {% endblock content2%}

