{% load staticfiles %}

	<div class="icon-bar">
			  <a class="active" href="#" onclick="openNav()"><i class="fa fa-bars"><p>Menu</p></i></a> 
			  <a href="/home/"><i class="fa fa-home"><p>Home</p></i></a> 			

			  <a href="/view/"><i class="fa fa-eye" ><p>View</p></i></a> 
			  <a href="/add/"><i class="fa fa-plus"><p>Add</p></i></a>
			  <a href="/edit/"><i class="fa fa-edit"><p>Edit</p></i></a> 
			  <a href="/delete/"><i class="fa fa-trash"><p>Delete</p></i></a> 
	</div>

<!-- 
<ul id="main_nav">
    <li><a href="#home">Home</a></li>
    <li><a href="#">Cemeteries</a></li>
	<li><a href="#">Burials</a></li>
	<li><a href="#">Analytics</a></li>
	<li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
</ul>
-->