{% extends "heaven/base.html" %}
{% load staticfiles %}

	{% block content %}
	
	<div id="map-wrapper">
		<div id="map" ></div>
		
		<div id="map-element-info">
			<h3>{{ cemetery.name }}</h3>
			<h3></h3>
			
			<h4 class="map-element-info-title">City: </h4><ul>{{ cemetery.city }}</ul>
			<h4 class="map-element-info-title">Zipcode: </h4><ul>{{ cemetery.zipcode}}</ul>
			<h4 class="map-element-info-title">Latitude: </h4><ul>{{ cemetery.latitude }}</ul>
			<h4 class="map-element-info-title">Longitude: </h4><ul>{{ cemetery.longitude }}</ul>	
			
		</div>
	</div>
	<script>
		function myMap() {
			/*google.maps.visualRefresh = true;*/
			var mapCanvas = document.getElementById("map");
			var myLatLng=new google.maps.LatLng({{ cemetery.latitude }}, {{ cemetery.longitude }})
			var mapOptions = {center: myLatLng, zoom: 20};
			var map = new google.maps.Map(mapCanvas, mapOptions);
			var marker = new google.maps.Marker({position: myLatLng});
			marker.setMap(map);
		}
	</script>

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6ipKRE2BhbdFJt8115j6hvIdsvSChl_c&callback=myMap"></script>
	{% endblock %}

