{% extends "heaven/base.html" %}
{% load staticfiles %}

	{% block content %}
	<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for cemetery names...">
	
		<table id="myTable">
			<tr class="header">
				<th style="width:40%;">Cemetery Name</th>
				<th style="width:30%;">City</th>
				<th style="width:30%;">Date Created</th>
			</tr>
			{% for cemetery in cemeteries %}
			<a href="#">
				<tr>
					<td><a class="clickable-table-data" href="/cemetery_details/">{{ cemetery.name }}</a></td>
					<td>{{ cemetery.city }}</td>
					<td>{{ cemetery.date_created|date:"D d M Y"|linebreaksbr }}</td>
				</tr>
			</a>
			{% endfor %}
		</table>
	{% endblock %}

