{% extends "heaven/base.html" %}
{% load staticfiles %}

	{% block content %}
	<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for cemetery names...">
	
		<table id="myTable">
			<tr class="header">
				<th style="width:20%;">Cemetery Name</th>
				<th style="width:20%;">City</th>
				<th style="width:20%">Date Created</th>
				<th style="width:20%;">Latitude</th>
				<th style="width:20%;">Longitude</th>
			</tr>
			{% for cemetery in cemeteries %}
			<a href="#">
				<tr>
					<td><a class="clickable-table-data" href="{% url 'view_cemetery_details' pk=cemetery.pk %}">{{ cemetery.name }}</a></td>
					<td>{{ cemetery.city }}</td>
					<td>{{ cemetery.date_created|date:"D d M Y" }}</td>
					<td>{{ cemetery.latitude }}</td>
					<td>{{ cemetery.longitude }}</td>
				</tr>
			</a>
			{% endfor %}
		</table>
	{% endblock %}

